<section>
  <div class="container">
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/1.png"
        alt="imagem de kit de produtos de skincare">
      <div class="padding">
        <mat-card-content class="texto_card">
          <h3 class="product_name">Kit Diurno Pure Glow</h3>
          <p class="description">
            Desperte sua pele com limpeza suave, tonificação refrescante, hidratação
            nutritiva e proteção solar,
            tudo em um conjunto natural para uma pele radiante o dia todo
          </p>
        </mat-card-content>
        <mat-card-actions class="price_container">
          <div class="price_itens">
            <div class="prices">
              <h2 class="value">R$149,99</h2>
              <h3 class="value">OU 3x49</h3>
            </div>
              <button  class="buy" mat-button>Comprar</button>


           </div>
        </mat-card-actions>
      </div>
    </mat-card>

  </div>
  
</section>




