<section>
  <section class="texto_topo">
    <h1>Natureza em sua forma mais pura. Descubra a riqueza da floresta</h1>
  </section>


  <div class="container">

    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekarquivosmidia.s3.sa-east-1.amazonaws.com/oleo_de_acai.png" alt="Photo of a Shiba Inu">
      <mat-card-content class="texto_card">
        <h3>Óleo de Açaí</h3>
        <p>
          Um antioxidante natural que nutre a pele e o cabelo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <h2>R$150,00 <br> OU 3x50</h2>
        <button mat-button>Comprar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekarquivosmidia.s3.sa-east-1.amazonaws.com/oleo_de_acai.png" alt="Photo of a Shiba Inu">
      <mat-card-content class="texto_card">
        <h3>Óleo de Açaí</h3>
        <p>
          Um antioxidante natural que nutre a pele e o cabelo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <h2>R$150,00 <br> OU 3x50</h2>
        <button mat-button>Comprar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekarquivosmidia.s3.sa-east-1.amazonaws.com/oleo_de_acai.png" alt="Photo of a Shiba Inu">
      <mat-card-content class="texto_card">
        <h3>Óleo de Açaí</h3>
        <p>
          Um antioxidante natural que nutre a pele e o cabelo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <h2>R$150,00 <br> OU 3x50</h2>
        <button mat-button>Comprar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="https://amazonmartekarquivosmidia.s3.sa-east-1.amazonaws.com/oleo_de_acai.png" alt="Photo of a Shiba Inu">
      <mat-card-content class="texto_card">
        <h3>Óleo de Açaí</h3>
        <p>
          Um antioxidante natural que nutre a pele e o cabelo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <h2>R$150,00 <br> OU 3x50</h2>
        <button mat-button>Comprar</button>
      </mat-card-actions>
    </mat-card>


  </div>
</section>
