<mat-toolbar color="primary">
  <mat-toolbar-row class="banner_topo">
    <span>Frete Grátis acima de R$150</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="menu_topo">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">search</mat-icon>
    <img src="" alt="">
    <span>Second Line</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
