<mat-toolbar color="primary">
  <mat-toolbar-row class="banner_topo">
    <span>Frete Grátis acima de R$150</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="menu_topo">
    <mat-icon class="icon"  >search</mat-icon>
    <span class="titulo"  [style.color]="corDoTexto" routerLink="/">Amazônia Market</span>
    <span>
      <span class="menu">
          <button class="menu_button"  [matMenuTriggerFor]="menu" >
            <mat-icon class="icon_button" >person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="onlogin()" mat-menu-item>
              <span >Entrar</span>
            </button>
            <button mat-menu-item>
              <span>Cadastre-se</span>
            </button>
          </mat-menu>
      </span>
      <mat-icon class="icon">shopping_cart</mat-icon>

    </span>

  </mat-toolbar-row>

  <mat-toolbar-row  class="menu_segundo">
    <span>Ofertas do Dia</span>

    <span>Por Categorias</span>
    <span>Tipos de Produtos</span>
    <span>Kits Incríveis</span>
    <span>Mais Buscados</span>
    <span>Seleção Especial</span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet>

</router-outlet>
<footer>
  <div class="social-icons">

  </div>
  <p>&copy; 2024 Amazon Market. Todos os direitos reservados. <br>
    Todas as imagens foram retiradas da internet, caso seja de sua
    propriedade, entre em contato para removemos

  </p>
</footer>
