body {
  font-family: 'Lato', sans-serif;
}

.banner_topo {
  display: flex;
  background-color: #9A85FF;
  justify-content: center;
  padding: 5px 0 ;
  height: 30px;
  font-family: 'Lato', sans-serif;
  width: 100%;
 }


 .banner_topo span{
  font-size: 16px;
  line-height: 19px;

}

.menu_topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color:#fff;
  height: 80px;
  border-bottom: #d9d9d9 solid 3px;
  font-family: 'Lato', sans-serif;
  color: #333;
  width: 100%;
 }

.icon {
  font-size: 24px;
  color: #333;


}


.titulo {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: #333;
  font-weight: bold;


}

.menu_button {
  border: none;
   box-shadow: none;
  background-color:white;
}

.icon_button {
  font-size: 24px;
  color: #404040;
}

.menu_segundo {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color:#fff;
  height: 60px;
  color: #333;
  border-bottom: #d9d9d9 solid 3px;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;

}

.menu_segundo  span{
  color: #333;
  flex-grow: 1;
  text-align: center;
 font-size: 16px;

}

