

<div class="container">
  <div class="card">
   <a href="http://google.com"> <img mat-card-image src="https://amazonmartekarquivosmidia.s3.sa-east-1.amazonaws.com/banner_principal.png" alt="Photo of a Shiba Inu"></a>
  </div>
</div>
<div class="container">
  <div class="card_frete">
   <a href="http://google.com"> <img mat-card-image src="https://amazonmartekarquivosmidia.s3.sa-east-1.amazonaws.com/banner_frete2.png" alt="Photo of a Shiba Inu"></a>
  </div>
</div>


<app-products-promotions></app-products-promotions>
