

<div class="container">
  <div class="card">
   <a href="http://google.com"> <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/banner_principal.png" alt="imagem referente com texto sobre qualidade dos produtos"></a>
  </div>
</div>
<div class="container">
  <div class="card_frete">
   <a href="http://google.com"> <img mat-card-image src="https://amazonmartekmidia.s3.sa-east-1.amazonaws.com/banner_frete.png" alt="imagem referente a frete a partir R$150"></a>
  </div>
</div>
  <div class="container">
    <div class="texto_topo">
      <h1>Natureza em sua forma mais pura. Descubra a riqueza da floresta</h1>
    </div>

  </div>


<app-products-promotions></app-products-promotions>
